<html>
<h1 style="text-align: center;"><strong><span style="color: #000066;">Bienvenue!</strong></h1>
<h4 style="text-align: center;">Cette application est le résultat d'un projet universitaire.</h4>
<hr />

<p style="text-align: left;">&nbsp;<strong>A quoi sert cette application?</strong></p>
<ul>
<li style="text-align: left;">Mettre en application un ou plusieurs réseaux de neurones.&nbsp;</li>
<li style="text-align: left;">Mettre en compétition ce(s) réseau(x) de neurones avec d'autres méthodes.&nbsp;</li>
</ul>
<hr />

